In [3]:
import pandas as pd

In [4]:
#Importamos Datasets
pd.read_csv('Datasets/amazon_prime_titles.csv')
pd.read_csv('./Datasets/disney_plus_titles.csv')
pd.read_csv('./Datasets/hulu_titles.csv')
pd.read_json('./Datasets/netflix_titles.json')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [5]:
#Guardamos archivos en variables de tipo dataframe.
df_amazon = pd.read_csv('Datasets/amazon_prime_titles.csv')
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [6]:
df_disney = pd.read_csv('./Datasets/disney_plus_titles.csv')
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [7]:
df_hulu = pd.read_csv('./Datasets/hulu_titles.csv')
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",â€‹Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [8]:
df_netflix = pd.read_json('./Datasets/netflix_titles.json')
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [9]:
#Creamos columna con el nombre de cada plataforma para incorporar al Dataframe unificado.
df_amazon['plataform'] = 'Amazon'
df_disney['plataform'] = 'Disney'
df_hulu['plataform'] = 'Hulu'
df_netflix['plataform'] = 'Netflix'

In [10]:
#Unimos Dataframes y probamos si hay duplicados eliminarlos
df_total = pd.concat([df_amazon, df_disney, df_hulu, df_netflix],ignore_index=True).drop_duplicates()

In [11]:
df_total

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
22994,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

In [12]:
#Eliminamos columnas que no vamos a utilizar para las consultas que necesitamos.
df_total = df_total.drop(columns=['description', 'country', 'date_added', 'rating', 'show_id'])

In [13]:
df_total.head()

,type,title,director,cast,release_year,duration,listed_in,plataform
0,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",2014,69 min,Documentary,Amazon
4,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon

In [14]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   director      14739 non-null  object
 3   cast          17677 non-null  object
 4   release_year  22998 non-null  int64
 5   duration      22516 non-null  object
 6   listed_in     22998 non-null  object
 7   plataform     22998 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.6+ MB

In [15]:
#Contamos los nulos por filas
print(df_total.isna().sum(axis=1))

0        0
1        0
2        0
3        0
4        0
        ..
22993    0
22994    2
22995    0
22996    0
22997    0
Length: 22998, dtype: int64

In [16]:
df_total.rename(columns={'type':'Tipo_film',  # Cambiamos los nombres de las columnas para leer mas claramente la informacion.
                    'title':'Titulo', 
                    'director':'Director',
                    'cast':'Reparto',
                    'release_year':'Ano_realizacion',
                    'duration':'Duracion',
                    'listed_in':'Genero',
                    'plataform':'Plataforma'}, inplace=True)

In [17]:
df_total['Indice'] = df_total.index #Asignamos ID unicos con los indices autoincrementables

In [18]:
df_total = df_total[['Indice','Titulo','Tipo_film','Ano_realizacion','Reparto','Duracion','Genero','Plataforma']] #Ordenamos las columnas

In [19]:
df_dur=df_total["Duracion"].str.split(expand=True) #Creamos un dataframe con los datos de la columna "duracion" separando el nÃºmero de la unidad
df_dur.rename(columns={0:"Duracion",1:"tipo (min-Seasons)"},inplace=True) #Se renombran las columnas.
df_total.drop(columns='Duracion', inplace=True) #Se elimina la columna 'duracion' del dataframe original total.
df_total['Duracion'] = df_dur["Duracion"]   
df_total['tipo (min-Seasons)'] = df_dur['tipo (min-Seasons)']

In [20]:
#Se cambian los valores "sin dato" de las unidades de tiempo (minutos o seasons) en la columna correspondiente
df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='TV Show')].index]='season'
df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='Movie')].index] = 'min'

C:\Users\HP\AppData\Local\Temp\ipykernel_18420\871342084.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='TV Show')].index]='season'
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\871342084.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='Movie')].index] = 'min'

In [21]:
df_total

,Indice,Titulo,Tipo_film,Ano_realizacion,Reparto,Genero,Plataforma,Duracion,tipo (min-Seasons)
0,0,The Grand Seduction,Movie,2014,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent","Comedy, Drama",Amazon,113,min
1,1,Take Care Good Night,Movie,2018,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar","Drama, International",Amazon,110,min
2,2,Secrets of Deception,Movie,2017,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...","Action, Drama, Suspense",Amazon,74,min
3,3,Pink: Staying True,Movie,2014,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",Documentary,Amazon,69,min
4,4,Monster Maker,Movie,1989,"Harry Dean Stanton, Kieran O'Brien, George Cos...","Drama, Fantasy",Amazon,45,min
...,...,...,...,...,...,...,...,...,...
22993,22993,Zodiac,Movie,2007,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...","Cult Movies, Dramas, Thrillers",Netflix,158,min
22994,22994,Zombie Dumb,TV Show,2018,None,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,season
22995,22995,Zombieland,Movie,2009,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...","Comedies, Horror Movies",Netflix,88,min
22996,22996,Zoom,Movie,2006,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","Children & Family Movies, Comedies",Netflix,88,min
22997,22997,Zubaan,Movie,2015,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","Dramas, International Movies, Music & Musicals",Netflix,111,min

In [22]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Indice              22998 non-null  int64
 1   Titulo              22998 non-null  object
 2   Tipo_film           22998 non-null  object
 3   Ano_realizacion     22998 non-null  int64
 4   Reparto             17677 non-null  object
 5   Genero              22998 non-null  object
 6   Plataforma          22998 non-null  object
 7   Duracion            22516 non-null  object
 8   tipo (min-Seasons)  22998 non-null  object
dtypes: int64(2), object(7)
memory usage: 2.3+ MB

In [23]:
#Reemplazamos los nulos por 'Sin Dato' para optimizar la busqueda a excepcion de la columna duracion que reemplazamos por 0.
df_total['Duracion'].fillna(0, inplace=True)
df_total.fillna('Sin Dato', inplace=True)
df_total['Duracion']=df_total['Duracion'].astype('int64') #convertimos los datos de la columna Duracion a tipo entero.
df_total.head(10)

,Indice,Titulo,Tipo_film,Ano_realizacion,Reparto,Genero,Plataforma,Duracion,tipo (min-Seasons)
0,0,The Grand Seduction,Movie,2014,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent","Comedy, Drama",Amazon,113,min
1,1,Take Care Good Night,Movie,2018,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar","Drama, International",Amazon,110,min
2,2,Secrets of Deception,Movie,2017,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...","Action, Drama, Suspense",Amazon,74,min
3,3,Pink: Staying True,Movie,2014,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",Documentary,Amazon,69,min
4,4,Monster Maker,Movie,1989,"Harry Dean Stanton, Kieran O'Brien, George Cos...","Drama, Fantasy",Amazon,45,min
5,5,Living With Dinosaurs,Movie,1989,"Gregory Chisholm, Juliet Stevenson, Brian Hens...","Fantasy, Kids",Amazon,52,min
6,6,Hired Gun,Movie,2017,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...","Documentary, Special Interest",Amazon,98,min
7,7,Grease Live!,Movie,2016,"Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",Comedy,Amazon,131,min
8,8,Global Meltdown,Movie,2017,"Michael ParÃ©, Leanne Khol Young, Patrick J. Ma...","Action, Science Fiction, Suspense",Amazon,87,min
9,9,David's Mother,Movie,1994,"Kirstie Alley, Sam Waterston, Stockard Channing",Drama,Amazon,92,min

In [24]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Indice              22998 non-null  int64
 1   Titulo              22998 non-null  object
 2   Tipo_film           22998 non-null  object
 3   Ano_realizacion     22998 non-null  int64
 4   Reparto             22998 non-null  object
 5   Genero              22998 non-null  object
 6   Plataforma          22998 non-null  object
 7   Duracion            22998 non-null  int64
 8   tipo (min-Seasons)  22998 non-null  object
dtypes: int64(3), object(6)
memory usage: 2.3+ MB

In [25]:
df_total[(df_total['Duracion'] == 0) & (df_total['Plataforma'] == 'Hulu')]

,Indice,Titulo,Tipo_film,Ano_realizacion,Reparto,Genero,Plataforma,Duracion,tipo (min-Seasons)
11118,11118,Ricky Velez: Here's Everything,Movie,2021,Sin Dato,"Comedy, Stand Up",Hulu,0,min
11130,11130,Out of the Shadows: The Man Behind the Steele ...,Movie,2021,Sin Dato,News,Hulu,0,min
11133,11133,Showtime Championship Boxing: Lopez vs. Salido...,Movie,2011,Sin Dato,Sports,Hulu,0,min
11155,11155,BELLATOR MMA: Kongo vs. Johnson 2,Movie,2020,Sin Dato,Sports,Hulu,0,min
11158,11158,In the Crease,Movie,2020,Sin Dato,Sports,Hulu,0,min
...,...,...,...,...,...,...,...,...,...
14069,14069,All Saints (1998),Movie,1998,Sin Dato,"Drama, International",Hulu,0,min
14073,14073,Getting On,Movie,2009,Sin Dato,"Comedy, International, Sitcom",Hulu,0,min
14076,14076,(Sub) Ninja Scroll,Movie,1993,Sin Dato,"Action, Adult Animation, Adventure",Hulu,0,min
14077,14077,Packed to the Rafters,Movie,2008,Sin Dato,"Comedy, Drama, International",Hulu,0,min
14111,14111,Amy Winehouse: A Final Goodbye,Movie,2011,Sin Dato,"Documentaries, Music",Hulu,0,min

In [26]:
# Calculamos el promedio de duracion por plataforma para completar los nulos con valores que no modifiquen las duraciones maximas de cada una filtrando por Plataforma y tipo de film

prom_pelicula = {}
prom_serie = {}
for plataforma in df_total['Plataforma'].unique():
    prom_pelicula[plataforma] = round(df_total[(df_total['Duracion'] !=0 ) & (df_total['Tipo_film']=='Movie') & (df_total['Plataforma'] == plataforma)]['Duracion'].mean())
    prom_serie[plataforma] = round(df_total[(df_total['Duracion'] !=0 ) & (df_total['Tipo_film']=='TV Show') & (df_total['Plataforma'] == plataforma)]['Duracion'].mean())
    df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='Movie') & (df_total['Plataforma'] == plataforma)].index] = prom_pelicula[plataforma]
    df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='TV Show') & (df_total['Plataforma'] == plataforma)].index] = prom_serie[plataforma]
print(prom_pelicula, prom_serie)

{'Amazon': 91, 'Disney': 72, 'Hulu': 98, 'Netflix': 100} {'Amazon': 2, 'Disney': 2, 'Hulu': 3, 'Netflix': 2}

C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='Movie') & (df_total['Plataforma'] == plataforma)].index] = prom_pelicula[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='TV Show') & (df_total['Plataforma'] == plataforma)].index] = prom_serie[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='Movie') & (df_total['Plataforma'] == plataforma)].index] = prom_pelicula[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='TV Show') & (df_total['Plataforma'] == plataforma)].index] = prom_serie[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='Movie') & (df_total['Plataforma'] == plataforma)].index] = prom_pelicula[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='TV Show') & (df_total['Plataforma'] == plataforma)].index] = prom_serie[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='Movie') & (df_total['Plataforma'] == plataforma)].index] = prom_pelicula[plataforma]
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\306705968.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['Duracion'][df_total['Duracion'].loc[(df_total['Duracion'] ==0 ) & (df_total['Tipo_film']=='TV Show') & (df_total['Plataforma'] == plataforma)].index] = prom_serie[plataforma]

In [27]:
df_total.iloc[11118] # corroboramos algunas ubicaciones para ver que hayan cambiado los 0.

Indice                                         11118
Titulo                Ricky Velez: Here's Everything
Tipo_film                                      Movie
Ano_realizacion                                 2021
Reparto                                     Sin Dato
Genero                              Comedy, Stand Up
Plataforma                                      Hulu
Duracion                                          98
tipo (min-Seasons)                               min
Name: 11118, dtype: object

In [28]:
df_total.columns

Index(['Indice', 'Titulo', 'Tipo_film', 'Ano_realizacion', 'Reparto', 'Genero',
       'Plataforma', 'Duracion', 'tipo (min-Seasons)'],
      dtype='object')

In [29]:
#Se cambian los valores "sin dato" de las unidades de tiempo (minutos o seasons) en la columna correspondiente
df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='TV Show')].index]='seasons'
df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='Movie')].index] = 'min'

C:\Users\HP\AppData\Local\Temp\ipykernel_18420\2112341046.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='TV Show')].index]='seasons'
C:\Users\HP\AppData\Local\Temp\ipykernel_18420\2112341046.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['tipo (min-Seasons)'][df_total['tipo (min-Seasons)'].loc[(df_total['Tipo_film']=='Movie')].index] = 'min'

In [30]:
#Cambio de todos los textos en minusculas
df_total['Tipo_film']=df_total['Tipo_film'].str.lower()
df_total['Titulo']=df_total['Titulo'].str.lower()
df_total['Plataforma']=df_total['Plataforma'].str.lower()
df_total['Genero']=df_total['Genero'].str.lower()
df_total['Reparto']=df_total['Reparto'].str.lower()

In [31]:
df_total

,Indice,Titulo,Tipo_film,Ano_realizacion,Reparto,Genero,Plataforma,Duracion,tipo (min-Seasons)
0,0,the grand seduction,movie,2014,"brendan gleeson, taylor kitsch, gordon pinsent","comedy, drama",amazon,113,min
1,1,take care good night,movie,2018,"mahesh manjrekar, abhay mahajan, sachin khedekar","drama, international",amazon,110,min
2,2,secrets of deception,movie,2017,"tom sizemore, lorenzo lamas, robert lasardo, r...","action, drama, suspense",amazon,74,min
3,3,pink: staying true,movie,2014,"interviews with: pink, adele, beyoncÃ©, britney...",documentary,amazon,69,min
4,4,monster maker,movie,1989,"harry dean stanton, kieran o'brien, george cos...","drama, fantasy",amazon,45,min
...,...,...,...,...,...,...,...,...,...
22993,22993,zodiac,movie,2007,"mark ruffalo, jake gyllenhaal, robert downey j...","cult movies, dramas, thrillers",netflix,158,min
22994,22994,zombie dumb,tv show,2018,sin dato,"kids' tv, korean tv shows, tv comedies",netflix,2,seasons
22995,22995,zombieland,movie,2009,"jesse eisenberg, woody harrelson, emma stone, ...","comedies, horror movies",netflix,88,min
22996,22996,zoom,movie,2006,"tim allen, courteney cox, chevy chase, kate ma...","children & family movies, comedies",netflix,88,min
22997,22997,zubaan,movie,2015,"vicky kaushal, sarah-jane dias, raaghav chanan...","dramas, international movies, music & musicals",netflix,111,min

In [32]:
df_reparto=df_total["Reparto"].str.split(",",expand=True)

In [33]:
#Se convierten los actores en listas dentro del dataframe
df_total['Reparto_1'] = df_total['Reparto'].str.split("," or ":")
df_total.drop(columns=['Reparto'],inplace=True)
df_total.rename(columns={'Reparto_1':'Reparto'},inplace=True)

#creaciÃ³n de dataframe con todos los actores
actores = []
for cast in df_total['Reparto']:
    for actor in cast:
        actores.append(actor)

df_actors = pd.DataFrame(actores)
df_actors

                             0
0              brendan gleeson
1                taylor kitsch
2               gordon pinsent
3             mahesh manjrekar
4                abhay mahajan
...                        ...
119708        manish chaudhary
119709            meghna malik
119710           malkeet rauni
119711          anita shabdish
119712   chittaranjan tripathy

[119713 rows x 1 columns]

In [34]:
#CreaciÃ³n de DataFrame para los actores
dic_actores = {'actor':[],
                'year':[],
                'plataforma':[]} #Se crea un diccionario para luego ser convertido en dataframe
for index, actors in enumerate(df_total['Reparto']):
    for actor in actors:
        dic_actores['actor'].append(actor) #Se agrega el actor al diccionario
        dic_actores['year'].append(df_total['Ano_realizacion'][index]) #Se agrega el aÃ±o correspondiente actor al diccionario
        dic_actores['plataforma'].append(df_total['Plataforma'][index]) #Se agrega la plataforma correspondiente al actor al diccionario
df_actores = pd.DataFrame(dic_actores)
#df_actors=df_actors.drop_duplicates().reset_index()

In [35]:
df_total['Genero_1'] = df_total["Genero"].str.split(",")
df_total.drop(columns=['Genero'],inplace=True)
df_total.rename(columns={'Genero_1':'Genero'}, inplace=True)

In [36]:
#CreaciÃ³n de DataFrame para los generos
dic_genero = {'genero':[],
                'plataforma':[]} #Se crea un diccionario para luego ser convertido en dataframe
for index, generos in enumerate(df_total['Genero']):
    for genero in generos:
        dic_genero['genero'].append(genero) #Se agrega el genero al diccionario
        dic_genero['plataforma'].append(df_total['Plataforma'][index])
df_genero = pd.DataFrame(dic_genero)

In [37]:
df_genero

                         genero plataforma
0                        comedy     amazon
1                         drama     amazon
2                         drama     amazon
3                 international     amazon
4                        action     amazon
...                         ...        ...
48298  children & family movies    netflix
48299                  comedies    netflix
48300                    dramas    netflix
48301      international movies    netflix
48302          music & musicals    netflix

[48303 rows x 2 columns]

In [38]:
df_actores.to_csv('actores.csv')
df_genero.to_csv('generos.csv')
df_total.to_csv('general.csv')

Codigos para plasmar en la API

In [39]:
def get_max_duration(aÃ±o:int, plataforma:str, tipo_duracion:str):
    return {df_total[(df_total['Ano_realizacion']==aÃ±o)&(df_total['Plataforma']==plataforma)&(df_total['tipo (min-Seasons)']== tipo_duracion)]['Duracion'].max()}

In [40]:
get_max_duration(2000, 'amazon', 'min')

{177}

In [41]:
def get_count_plataform(plataforma:str):   
    return{f"Cantidad de pelÃ­culas en {plataforma} es":df_total[(df_total['Plataforma']==plataforma)&(df_total['Tipo_film']=='movie')]['Tipo_film'].count(),
    f"Cantidad de series en {plataforma} es":df_total[(df_total['Plataforma']==plataforma)&(df_total['Tipo_film']=='tv show')]['Tipo_film'].count()}

In [42]:
get_count_plataform('amazon')

{'Cantidad de pelÃ­culas en amazon es': 7814,
 'Cantidad de series en amazon es': 1854}

In [43]:
def get_listedin(genero:str):
    list_genero = []
    for plataforma in df_total['Plataforma'].unique():
        list_genero.append(df_genero[(df_genero['genero']==genero)&(df_genero['plataforma']==plataforma)].shape[0])
    
    maximo = max(list_genero)
    if list_genero.index(maximo)==0:
        return {'amazon': maximo}
    elif list_genero.index(maximo)==1:
        return {'disney': maximo}
    elif list_genero.index(maximo)==2:
        return {'hulu': maximo}
    elif list_genero.index('netflix',maximo)==2:
        return {'netflix': maximo}

In [44]:
get_listedin('drama')

{'amazon': 2216}

In [45]:
def get_actor(plataforma:str, aÃ±o:int):
    data = df_actores[(df_actores['year']==aÃ±o)&(df_actores['plataforma']==plataforma)]['actor']
    # return {data.value_counts().max()}
    if data.value_counts().index[0] == 'sin dato':
        return {data.value_counts().index[1]:data.value_counts()[1]}
    elif data.value_counts().index[0] != 'sin dato':
        return {data.value_counts().index[0]:data.value_counts()[0]}

In [46]:
get_actor('netflix', 2010)

{' zoe saldana': 3}

In [47]:
#Ingesto datos en tabla de SQL para realizar algunas consultas y ver mejor la tabla gral. A modo de consulta personal
#from sqlalchemy import create_engine
#engine = create_engine('mysql+pymysql://root:root@localhost/PI1')

#df_total.to_sql('Tablacompleta',con=engine,index=False,if_exists='replace')

In [48]:
df_actores

                         actor  year plataforma
0              brendan gleeson  2014     amazon
1                taylor kitsch  2014     amazon
2               gordon pinsent  2014     amazon
3             mahesh manjrekar  2018     amazon
4                abhay mahajan  2018     amazon
...                        ...   ...        ...
119708        manish chaudhary  2015    netflix
119709            meghna malik  2015    netflix
119710           malkeet rauni  2015    netflix
119711          anita shabdish  2015    netflix
119712   chittaranjan tripathy  2015    netflix

[119713 rows x 3 columns]

In [49]:
df_total['tipo (min-Seasons)']

0            min
1            min
2            min
3            min
4            min
          ...
22993        min
22994    seasons
22995        min
22996        min
22997        min
Name: tipo (min-Seasons), Length: 22998, dtype: object

In [50]:
pip freeze

anyio==3.6.2
asttokens==2.0.8
backcall==0.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
executing==1.1.0
fastapi==0.88.0
fonttools==4.38.0
greenlet==2.0.1
h11==0.14.0
idna==3.4
ipykernel==6.16.0
ipython==8.5.0
jedi==0.18.1
joblib==1.2.0
jupyter-core==4.11.1
jupyter_client==7.3.5
kiwisolver==1.4.4
kneed==0.8.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.23.3
packaging==21.3
pandas==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.31
psutil==5.9.2
pure-eval==0.2.2
pyarrow==10.0.0
pydantic==1.10.2
Pygments==2.13.0
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.4
pywin32==304
pyzmq==24.0.1
requests==2.28.1
scikit-learn==1.1.3
scipy==1.9.1
seaborn==0.12.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.44
stack-data==0.5.1
starlette==0.22.0
threadpoolctl==3.1.0
tornado==6.2
traitlets==5.4.0
typing==3.7.4.3
typing_extensions==4.4.0
urllib3==1.26.12
uvicorn==0.20.0
vboxapi==1.0
wcwidth==0.2.5
Note: you may need to restart the kernel to use updated packages.

In [51]:
http://127.0.0.1:8000/docs#/

SyntaxError: invalid syntax (2136374452.py, line 1)